<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Edureka">
<listeners>
		<listener class-name="co.edureka.generics.ITest"></listener>
	</listeners>
  <test  name="RegressionTest">
  <parameter name="browser" value="CHROME"></parameter>
		<classes>
			<class name="co.edureka.testscripts.UploadProfile"></class>
		</classes>
  </test> <!-- RegressionTest -->
</suite> <!-- Edureka -->
